In [75]:
!pip install neattext

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: neattext in /usr/local/lib/python3.8/dist-packages (0.1.3)

In [76]:
import pandas as pd 
import neattext.functions as nfx
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [77]:
# load the dataset from the url given above 
df1 = pd.read_csv('https://storage.googleapis.com/gresearch/goemotions/data/full_dataset/goemotions_1.csv')

# display the shape of each dataframe
print(df1.shape)

(70000, 37)

In [78]:
df = df1

In [79]:
df.head()

,text,id,author,subreddit,link_id,parent_id,created_utc,rater_id,example_very_unclear,admiration,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
0,That game hurt.,eew5j0j,Brdd9,nrl,t3_ajis4z,t1_eew18eq,1.548381e+09,1,False,0,...,0,0,0,0,0,0,0,1,0,0
1,>sexuality shouldn’t be a grouping category I...,eemcysk,TheGreen888,unpopularopinion,t3_ai4q37,t3_ai4q37,1.548084e+09,37,True,0,...,0,0,0,0,0,0,0,0,0,0
2,"You do right, if you don't care then fuck 'em!",ed2mah1,Labalool,confessions,t3_abru74,t1_ed2m7g7,1.546428e+09,37,False,0,...,0,0,0,0,0,0,0,0,0,1
3,Man I love reddit.,eeibobj,MrsRobertshaw,facepalm,t3_ahulml,t3_ahulml,1.547965e+09,18,False,0,...,1,0,0,0,0,0,0,0,0,0
4,"[NAME] was nowhere near them, he was by the Fa...",eda6yn6,American_Fascist713,starwarsspeculation,t3_ackt2f,t1_eda65q2,1.546669e+09,2,False,0,...,0,0,0,0,0,0,0,0,0,1

In [80]:
df.drop(['id','author','subreddit','link_id','parent_id','created_utc','rater_id'],axis=1,inplace=True)

In [81]:
df.insert(1, "text_cleaned", df["text"].apply(nfx.remove_userhandles))

In [82]:
df['text_cleaned'] = df['text_cleaned'].apply(nfx.remove_stopwords)

In [83]:
df

,text,text_cleaned,example_very_unclear,admiration,amusement,anger,annoyance,approval,caring,confusion,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
0,That game hurt.,game hurt.,False,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,>sexuality shouldn’t be a grouping category I...,>sexuality shouldn’t grouping category makes d...,True,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"You do right, if you don't care then fuck 'em!","right, care fuck 'em!",False,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,Man I love reddit.,Man love reddit.,False,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,"[NAME] was nowhere near them, he was by the Fa...","[NAME] near them, Falcon.",False,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,"It's about fucking time, hope this is real.","fucking time, hope real.",False,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69996,This is great! Can anyone make a request with ...,great! request draw?,False,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69997,I’m sorry. Can you please explain what are the...,I’m sorry. explain 2 accounts order creation c...,False,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69998,No but it should be,,False,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
69999,This is so cruel. I literally feel physically ...,cruel. literally feel physically sick.,False,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [84]:
# suppress from the list of emotions "text, text_cleaned, id, author,subreddit, link_id,parent_id, created_utc,rater_id ,example_very_unclear"
emotions = [x for x in df.columns if x not in ['text', 'text_cleaned', 'id', 'author','subreddit', 'link_id','parent_id', 'created_utc','rater_id' ,'example_very_unclear']]

In [85]:
df.insert(2, "emotions",'')

In [86]:
df.head()

,text,text_cleaned,emotions,example_very_unclear,admiration,amusement,anger,annoyance,approval,caring,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
0,That game hurt.,game hurt.,,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,>sexuality shouldn’t be a grouping category I...,>sexuality shouldn’t grouping category makes d...,,True,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"You do right, if you don't care then fuck 'em!","right, care fuck 'em!",,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,Man I love reddit.,Man love reddit.,,False,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,"[NAME] was nowhere near them, he was by the Fa...","[NAME] near them, Falcon.",,False,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [87]:
for i in range(len(df)):
    for emotion in emotions:
        if df[emotion][i] == 1:
            df['emotions'][i] = emotion
            break

<ipython-input-87-13d71d4cce4f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['emotions'][i] = emotion

In [133]:
df.head()

  emotions                                       text_cleaned
0  sadness                                         game hurt.
1           >sexuality shouldn’t grouping category makes d...
2  neutral                              right, care fuck 'em!
3     love                                   Man love reddit.
4  neutral                          [NAME] near them, Falcon.

In [116]:
df = df[['emotions', 'text_cleaned']]

In [117]:
X = df['text_cleaned']
y = df['emotions']

In [118]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [119]:
from sklearn.pipeline import Pipeline

In [120]:
pipe_lr = Pipeline(steps=[('cv',CountVectorizer()),('lr',LogisticRegression( max_iter=1000))])

In [121]:
pipe_lr.fit(x_train,y_train,)

Pipeline(steps=[('cv', CountVectorizer()),
                ('lr', LogisticRegression(max_iter=1000))])

In [122]:
pipe_lr.score(x_test,y_test)

0.373

In [131]:
# Make A Prediction
sample1 = "I think it's trash"

In [132]:
pipe_lr.predict([sample1])

array(['neutral'], dtype=object)